* {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
   -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
   -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
   -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}
input[type="text"],
textarea {
    -webkit-user-select: text;
}

i {
    letter-spacing: 1px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
form.details ul:first-child {
    margin-top: 0;
}

#checkmodal {
    display: none;
    top: 100px;
    left: 60px;
    width: 200px;
    height: 200px;
}
#checkmodal .check {
    display: block;
    height: 200px;
    background: url('check.png') 5px 20px no-repeat;
    background-size: 190px auto;
}

.templates li .rem {
    z-index:100;
    width: 40px;
    height: 40px;
    display: none;
    float: left;
}
.templates li .rem .inner {
    display: block;
    width: 18px;
    height: 18px;
    background: red url('deletebtn.png') no-repeat;
    background-size: 20px 20px;
    box-shadow: 0 1px 2px rgba(255,255,255,0.6) inset,
    0 1px 1px #888,
    0 1px 0 #222;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px 10px;
    color: white;
    text-align: center;
    border-radius: 100px;
}


.ui-page .ui-header .ui-btn-left .ui-icon {
    background-color: transparent !important;
    background-image: url('jqm/images/icons-36-white.png') !important;
    background-size: 776px 18px;
    box-shadow: none !important;
}
.mkdef {
    display: none;
    background: rgba(0,0,0,0.7);
    text-align: center;
    padding: 10px 0;
    color: #eee;
}

.ui-listview .ui-icon-none {
    background: transparent none center center no-repeat !important;
}

span.detail {
    float: right;
    text-align: right;
    font-weight: normal;
    margin-right: 0.3em;
}

ul li input {
    border: none !important;
    margin-top: -5px;
    padding-bottom: 0 !important;
}

.ui-page .ui-input-text {
    box-shadow: none;
    height: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
    line-height: 1em;
}

.ui-page .ui-li.datetime label {
    display: inline;
}

.ui-page .ui-li.datetime .ui-input-text {
    float: right !important;
    display: inline !important;
    width: auto !important;
}

.ui-btn-down-a .ui-btn-inner,
.ui-btn.toggled .ui-btn-inner {
    background: rgba(0, 0, 0, 0.15);
    color: #eee;
}


/* delete btn */
#edit_event a.delete {
    background: url('deletebtn.png') red repeat-x !important;
    background-clip: border-box;
    background-size: 64px 100%;
    display: none;
}
#edit_event a.delete .ui-btn-inner,
#edit_event a.delete .ui-btn-text {
    box-shadow: none !important;
    border: 0;
    background: transparent !important;
}
#edit_event a.delete .ui-btn-text {
    color: white !important;
    text-shadow: 0 -1px 1px #333 !important;
}

/* ---------------------------------------------------------------------- */


/*
    Passt Styling für JQM-basiertes iOS Theme an, um Button Klicks
    sichtbar werden zu lassen.
*/

.ui-page:not(.ui-dialog) .ui-content .ui-btn:not(.ui-slider-handle):not(label):not(li):not(.ui-btn-left):not(.ui-btn-right):not(.ui-input-clear)  {
    margin: 0.3125em 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*:not(label):not(li)*/
.ui-page:not(.ui-dialog) .ui-content .ui-btn.ui-btn-down-c:not(.ui-slider-handle):not(label):not(.ui-btn-left):not(.ui-btn-right):not(.ui-input-clear) {
    /* #015DE6*/
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #015DE6),
        color-stop(1, #058CF5)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #015DE6 0%,
        #058CF5 100%
    );
}

/*.ui-btn.ui-btn-down-c:not(.ui-slider-handle):not(li):not(label):not(.ui-btn-left):not(.ui-btn-right):not(.ui-input-clear) .ui-btn-text,
*/
.ui-btn.ui-btn-down-c:not(.ui-slider-handle):not(label):not(.ui-btn-left):not(.ui-btn-right):not(.ui-input-clear) .ui-btn-text,
.ui-btn.ui-btn-down-c:not(.ui-slider-handle):not(label):not(.ui-btn-left):not(.ui-btn-right):not(.ui-input-clear) .ui-btn-text a    ,
.ui-page:not(.ui-dialog) .ui-content li.ui-btn.ui-btn-down-c p {
    color: white !important;
    text-shadow: none;
}

/*.ui-page:not(.ui-dialog) .ui-content .ui-btn:not(.ui-slider-handle):not(label):not(li):not(.ui-btn-left):not(.ui-btn-right):not(.ui-input-clear) .ui-btn-inner {
    padding: 0 !important;
}
*/
.ui-block-a .ui-btn {
    margin-right: 0.3125em !important; /* 5px */
}

.ui-block-b .ui-btn {
    margin-left: 0.3125em !important; /* 5px */
}

.ui-grid-a a {
    color: #999;
}

.ui-grid-a {
    margin-bottom: 1em;
}